@model IEnumerable<Projeto.Models.ItemTema>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Gravar")
        @* == <a href="Item/Create">Create New</a> *@
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ItemTemaId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ItemTemaId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ItemTemaId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
